$maxHeightSVH: 100svh;
$white: #fff;
$trans: .3s ease;
$lteal: #EEFFF5;
$black: #111111;
$prim: #009245;

*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;


    #scroll_btn {
        position: absolute;
        right: 1.5rem;
        z-index: 999;
        bottom: 2rem;
        position: fixed;
        cursor: pointer;
        display: none;
        i{
            color: white;
            padding:.8rem;
            transition: $trans;
            border: 1px solid white;
        }
    }
    
    .visuallyHidden {
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height: 1px; width: 1px; 
        margin: -1px; padding: 0; border: 0; 
    }
    .hamburger {
        margin: 0 auto;
        width: 30px;
        height: 30px;
        position: relative;
    }
    
    .hamburger .bar {
        padding: 0;
        width: 30px;
        height: 4px;
        background-color: $black;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute; 
    }
    
    .bar1 {
        top: 0;
    }
    
    .bar2,
    .bar3 {
        top: 13.5px;
    }
    
    .bar3 {
        right: 0;
    }
    
    .bar4 {
        bottom: 0;
    }

    
    .hamburger2 .bar2,
    .hamburger3 .bar3,
    .hamburger4 .bar4 {
        top: 13.5px;
    }

    .hamburger4 .bar5 {
        bottom: 0px;
    }

    .hamburger4 .bar {
        transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
    }

    .hamburger4 .bar2 {
        width: 1px;
        transform: rotate(90deg);
        left: 13.5px;
    }

    .hamburger4 .bar3 {
        width: 1px;
        left: 13.5px;
        
    }

    .checkbox4:checked + label > .hamburger4 > .bar1{
        top: 13.5px;
        background-color: transparent;
    }

    .checkbox4:checked + label > .hamburger4 > .bar2{
        left: 0px;
        width: 30px;
        transform: rotate(45deg);
    }

    .checkbox4:checked + label > .hamburger4 > .bar3{
        left: 0;
        width: 30px;
        transform: rotate(-45deg);
    }

    .checkbox4:checked + label > .hamburger4 > .bar4{
        background-color: transparent;
    }

    .checkbox4:checked + label > .hamburger4 > .bar5{
        bottom: 13.5px;
        background-color: transparent; 
    }

    
}

body{
    position: relative;
}


header{
    z-index: 500;
    nav{
        a.navbar-brand{
            img{
                width:auto;
                height: 45px;
            }
        }

        ul.navbar-nav{
            li.nav-item{
                a.nav-link{
                    font-weight: bold;
                    font-size: 13px;
                }
            }
        }
    }
}

.bg-overlay{
    background: $white;
    overflow: hidden;
    height: 100svh;
    position: absolute;
    z-index: 1;
}

body{
    overflow-x: hidden;
    position: relative;
}

@media (min-width: 375px) { 
    a{
        #cart{
            z-index: 6;
            right: -2.9rem;
            top: 10rem;
            background: $prim;
            width:60px;
            padding: 1rem;
            color: $lteal;
            transition: $trans;
            border-radius: 1rem 0 0 1rem;
            border: 1px solid $lteal;

        }
    }

    a:hover #cart{
        right: 0rem;
    }


    header{
        nav.navbar.navbar-expand-lg{
            background: $lteal!important;

            .search-container {
                position: relative;
                display: inline-block;
                width: 50px;
                vertical-align: bottom;
            }
            
            .searchbutton {
                position: absolute;
                width: 100%;
                margin: 0;
            }
            
            .search:focus + .searchbutton {
                transition-duration: 0.4s;
                -moz-transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s;
                -o-transition-duration: 0.4s;
                color: black;
            }
            
            .search {
                position: absolute;
                left: 49px; /* Button width-1px (Not 50px/100% because that will sometimes show a 1px line between the search box and button) */
                background-color: white;
                outline: none;
                border: none;
                padding: 0;
                width: 0;
                height: 100%;
                z-index: 10;
                border-radius: .5rem 0 0 .5rem;
                transition-duration: 0.4s;
                -moz-transition-duration: 0.4s;
                -webkit-transition-duration: 0.4s;
                -o-transition-duration: 0.4s;
            }
            
            .search:focus {
                width: 300px; /* Bar width+1px */
                padding: 15px 10px 15px 0;
            }
            
            .expandright {
                left: auto;
                right: 49px; /* Button width-1px */
            }
            
            .expandright:focus {
                padding: 0 0 0 16px;
            }
        }
    }
    // INDEX PAGE
    main{
        section#jumbotron{
            height: 90svh;
            width: 100%;
          
            .container{
                position: relative;
                height: $maxHeightSVH;
                .col-12{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        section#jumbotron-2{
            height: 90svh;
            width: 100%;
          
            .container{
                position: relative;
                height: $maxHeightSVH;
                .col-12{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    
        section#about{
            padding: 5rem 0;
            .about-imgs{
                .col{
                    height: 200px;
                    padding: .25rem;
                    img{
                        width: 100%;
                        object-fit: cover;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                .col:nth-child(1){
                    width: 25%;
                    img{
                        height: 200px;
                    }
                }
                .col:nth-child(2){
                    width: 35%;
                    img{
                        height: 200px;
                    }
                }
                .col:nth-child(3){
                    width: 40%;
                    img{
                        height:200px;
                    }
                }
            }
        }
    
        section#products{
            padding: 5rem 0;
            .prod-display{
                img{
                    width: 100%;
                    height: 190px;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }

            .col-12:nth-child(1){
                img{
                    width: 100%;
                    height: 160px;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom;
                }
            }
        }
    
        section#grow{
            position: relative;
            padding: 6rem 0;
            background-blend-mode: screen;
            background: rgba(255, 255, 255, 0.5)  center/cover no-repeat  ;
        }

        section#certificate{
            padding: 5rem 0;
            .certificates{
                img{
                    width: auto;
                    height:150px;
                }
            }

            img.img-fluid{
                height:300px;
                object-fit: cover;
                background: center/cover no-repeat;
            }

            .card{
               .card-body{

                .cont-img{
                    img{
                        width: 100%;
                        height: 150px;
                        object-fit: cover;
                        background: center/cover no-repeat;
                    }
                }
               }
            }
        }
        
        section#manufacturing{
            padding: 5rem 0;
        }

        section#newsupdate{
            padding: 5rem 0;

            .row.row-cols-lg-2{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background: center/cover no-repeat;
                }
                .col:nth-child(1){
                    height: 300px;
                }
                .col:nth-child(2){
                    height: auto;
                }
                .col:nth-child(3){
                    height: 160px;
                }
                .col:nth-child(4){
                    height: 160px;
                }
            }
        }
    }

    footer{
       
        .row:nth-child(1){
            padding: 6rem 0 4rem 0;
        }

        .footer-logo{
            img{
                width: 200px;
                height: auto;
            }
        }
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    header{
        nav.navbar.navbar-expand-lg{
            background: unset!important;
        }
    }

    main{
        section#jumbotron{
            height: $maxHeightSVH;
            width: 100%;
          
            .container{
                position: relative;
                height: $maxHeightSVH;
                .col-12{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        section#jumbotron-2{
            height: 70svh;
            width: 100%;
          
            .container{
                position: relative;
                height: 70svh;
                .col-12{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    
        section#about{
            padding: 10rem 0;
            .about-imgs{
                .col{
                    height: 400px;
                    padding: .5rem;
                    img{
                        width: 100%;
                        object-fit: cover;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                .col:nth-child(1){
                    width: 25%;
                    img{
                        height: 400px;
                    }
                }
                .col:nth-child(2){
                    width: 35%;
                    img{
                        height: 400px;
                    }
                }
                .col:nth-child(3){
                    width: 40%;
                    img{
                        height: 400px;
                    }
                }
            }
        }
    
        section#products{
            padding: 10rem 0;
            .prod-display{
                img{
                    width: 100%;
                    height: 280px;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }

            .col-12:nth-child(1){
                img{
                    width: 100%;
                    height: 160px;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom;
                }
            }
        }
    
        section#grow{
            position: relative;
            padding: 10rem 0;
            background-blend-mode: screen;
            background: rgba(255, 255, 255, 0.5)  center/cover no-repeat  ;
        }

        section#certificate{
            padding: 10rem 0;
            .certificates{
                img{
                    width: auto;
                    height: 130px;
                }
            }

            img.img-fluid{
                height: 500px;
                object-fit: cover;
                background: center/cover no-repeat;
            }

            .card{
               .card-body{

                .cont-img{
                    img{
                        width: 100%;
                        height: 100px;
                        object-fit: cover;
                        background: center/cover no-repeat;
                    }
                }
               }
            }

            #infographic{
                div.display-1{
                    font-size: 3rem;
                }
            }
        }
        
        section#manufacturing{
            padding: 10rem 0;
        }

        section#newsupdate{
            padding: 10rem 0;

            .row.row-cols-2{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    background: center/cover no-repeat;
                }
                .col:nth-child(1){
                    height: 300px;
                }
                .col:nth-child(2){
                    height: 300px;
                }
                .col:nth-child(3){
                    height: 150px;
                }
                .col:nth-child(4){
                    height: 150px;
                }
            }
        }

        section#contact{
            padding: 10rem 0;
        }

        section#content{
            padding: 10rem 0;


            .card{
                img{
                    height: 300px;
                    object-fit: cover;
                    background: center/cover no-repeat;
                }
            }
        }

        section#who{
            padding: 10rem 0;

            .who-imgs{
                img{
                    width: 100%;
                }
                .col-12{
                    img{
                        height: 350px;
                        background-size: cover;
                        object-fit: cover;
                        background-repeat: no-repeat;
                    }
                }
            }


            
        }

        section#timeline{
            padding: 10rem 0;
            #timelLineCarousel{
                .carousel-indicators{
                    width: 75%;
                    position: static;
                    margin: 5rem auto;

                    button{
                        text-indent: 0!important;
                        background: 0 0;
                        border: none;
                        margin: 0!important;
                        position: relative;
                        width: 25%!important;

                        span{
                            margin: -5rem 0 0 0;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        i{
                            left: 50%;
                            transform: translateX(-50%);
                            margin-top: -11px;
                        }
                    }
                    button::before{
                       position: absolute;
                       content: "";
                       border-top: 2px solid rgba($color: $lteal, $alpha: 1.0);
                       width: 100%;
                       left: 0;
                    }
                    
                }

                .carousel-inner{
                    img{
                        height: 400px;
                        object-fit: cover;
                        background:center/cover no-repeat;
                        position: relative;
                    }
                   
                    .carousel-item{
                        position: relative;
                        .carousel-caption{
                            bottom: unset!important;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        section#team{
            padding: 10rem 0;

            div#mission_vision{
                padding:5rem 0 0 0;
                img{
                    width: auto;
                    height: 40px;
                }
            }
        }

       section#infrastructure{
        padding: 10rem 0;
        #infractureCarous{
            height: 500px;
            .carousel-inner{
                .carousel-item{
                    height: 500px;

                    img{
                        height: 500px;
                        object-fit: cover;
                        background: center/cover no-repeat;
                    }
                }
            }

            .carousel-indicators{
                height: 10px;
            }
        }
       }

       section#rnd{
        padding: 10rem 0;

        .row.row-cols-2{
            img{
                width: 100%;
            }
            .col-12{
                img{
                    height: 400px;
                    object-fit: cover;
                    background: center/cover no-repeat;
                }
            }
        }
       }

       section#organic{
        padding: 10rem 0;
       }

       section#quality_control{
        padding: 10rem 0;

        img{
            width: 100%;
            height: 400px;
            background: center/cover no-repeat;
            object-fit: cover;
        }
       }
    }


    footer{
       
        .row:nth-child(1){
            padding: 10rem 0 8rem 0;
        }

        .footer-logo{
            img{
                width: 200px;
                height: auto;
            }
        }
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    

 }